flows_v2.json
[
    {
        "id": "19055804.82a728",
        "type": "tab",
        "label": "Titlebar",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c0600a7e.657098",
        "type": "tab",
        "label": "MQTT Broker",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ea6cd974.87a928",
        "type": "tab",
        "label": "Luminosity Chart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "61091657.7ee5f8",
        "type": "tab",
        "label": "People Count by Zone",
        "disabled": false,
        "info": ""
    },
    {
        "id": "abc39881.a80e78",
        "type": "tab",
        "label": "Reaction",
        "disabled": false,
        "info": ""
    },
    {
        "id": "817996c0.d93538",
        "type": "tab",
        "label": "Audience Stats",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9ae91178.85918",
        "type": "tab",
        "label": "AWS Facial",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fe39d94e.aff738",
        "type": "tab",
        "label": "AWS Label",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bd3844a1.c393b8",
        "type": "tab",
        "label": "AWS Text",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad610aca.48e198",
        "type": "tab",
        "label": "Show Snap",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7d5c2f07.de951",
        "type": "tab",
        "label": "Show About",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eb90c25d.78d73",
        "type": "subflow",
        "name": "Persistence Helper",
        "info": "",
        "in": [
            {
                "x": 45.5,
                "y": 85,
                "wires": [
                    {
                        "id": "c16267f4.7bfdb8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 749.5,
                "y": 53,
                "wires": [
                    {
                        "id": "6ff67d7f.e50f64",
                        "port": 0
                    }
                ]
            },
            {
                "x": 755,
                "y": 169,
                "wires": [
                    {
                        "id": "a685b6d4.ee5098",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "b2fd4c0c.8b0d2",
        "type": "mqtt-broker",
        "name": "Meraki",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "Connection",
        "birthQos": "0",
        "birthPayload": "Meraki Connected",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "ac74fa43.681e68",
        "type": "ui_tab",
        "name": "Room Analytics",
        "icon": "fa-video-camera",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "85a386ea.e008e8",
        "type": "ui_group",
        "name": "Light Levels",
        "tab": "ac74fa43.681e68",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "1ae8bac4.895bf5",
        "type": "ui_group",
        "name": "People Detection",
        "tab": "ac74fa43.681e68",
        "order": 2,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "7431b1ab.09781",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#034b68",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#23c81e",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Cisco Meraki MV",
                "default": "#4B7930",
                "baseColor": "#e8e8e8",
                "baseFont": "Verdana,Verdana,Geneva,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#e8e8e8",
                    "value": "#e8e8e8",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#bfbfbf",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#6e6e6e",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#919191",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#e8e8e8",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#e3e3e3",
                    "edited": true
                },
                "base-font": {
                    "value": "Verdana,Verdana,Geneva,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Cisco Meraki MV with AWS Rekognition",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2f647a84.4b28b6",
        "type": "ui_group",
        "name": "Face Detection",
        "tab": "15f9514c.937b4f",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8fbf59aa.45bee8",
        "type": "ui_group",
        "name": "Label Detection",
        "tab": "15f9514c.937b4f",
        "order": 4,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "4d7bb0a7.40b36",
        "type": "ui_group",
        "name": "Snapshot",
        "tab": "fcdf3d52.06263",
        "order": 7,
        "disp": true,
        "width": 23,
        "collapse": true
    },
    {
        "id": "58564007.5d9af",
        "type": "ui_group",
        "name": "Text Detection",
        "tab": "15f9514c.937b4f",
        "order": 5,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "fcdf3d52.06263",
        "type": "ui_tab",
        "name": "3. Audience Snapshot",
        "icon": "fa-file-photo-o",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "679df91d.8517c8",
        "type": "ui_group",
        "name": "Reaction AI",
        "tab": "3eda3ff0.7ebfb",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": true
    },
    {
        "id": "15f9514c.937b4f",
        "type": "ui_tab",
        "name": "4. Under the hood Analytics",
        "icon": "fa-eye",
        "order": 5,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3f7237b9.1b2698",
        "type": "ui_tab",
        "name": "default",
        "icon": "",
        "order": 7,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3eda3ff0.7ebfb",
        "type": "ui_tab",
        "name": "2. Audience Reaction",
        "icon": "fa-thumbs-o-up",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a22989d4.d6fe38",
        "type": "ui_tab",
        "name": "1. Audience Statistics",
        "icon": "fa-id-badge",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "66cbe78b.a80218",
        "type": "ui_group",
        "name": "Audience Stats",
        "tab": "a22989d4.d6fe38",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": false
    },
    {
        "id": "6fd6f5fa.b20dcc",
        "type": "ui_group",
        "name": "Group 4",
        "tab": "15f9514c.937b4f",
        "order": 4,
        "disp": true,
        "width": 6
    },
    {
        "id": "5a4fc453.6dfebc",
        "type": "ui_tab",
        "name": "5. About",
        "icon": "fa-book",
        "order": 6,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8082143d.bef398",
        "type": "ui_group",
        "name": "Customer",
        "tab": "5a4fc453.6dfebc",
        "order": 1,
        "disp": true,
        "width": "23",
        "collapse": true
    },
    {
        "id": "e5024b07.2ad2f8",
        "type": "comment",
        "z": "c0600a7e.657098",
        "name": "Broker",
        "info": "",
        "x": 127,
        "y": 37,
        "wires": []
    },
    {
        "id": "4510ff18.94d13",
        "type": "json",
        "z": "ea6cd974.87a928",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 410,
        "y": 260,
        "wires": [
            [
                "9601626c.910b6"
            ]
        ]
    },
    {
        "id": "9601626c.910b6",
        "type": "change",
        "z": "ea6cd974.87a928",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.lux",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 260,
        "wires": [
            [
                "8e23a9b7.a69908",
                "a905479b.7a1638"
            ]
        ]
    },
    {
        "id": "f2959a43.164788",
        "type": "mqtt in",
        "z": "ea6cd974.87a928",
        "name": "",
        "topic": "/merakimv/Q2JV-YMSR-7CJB/light",
        "qos": "0",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "4510ff18.94d13",
                "43d67458.81bb3c"
            ]
        ]
    },
    {
        "id": "a905479b.7a1638",
        "type": "ui_chart",
        "z": "ea6cd974.87a928",
        "name": "Historic Luminosity",
        "group": "85a386ea.e008e8",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "<center><font color=grey><small>Historic Luminosity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "2",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 990,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "d6dab51a.bdaf88",
        "type": "comment",
        "z": "ea6cd974.87a928",
        "name": "Luminosity at /UI",
        "info": "",
        "x": 140,
        "y": 120,
        "wires": []
    },
    {
        "id": "8e5205e3.8d3f68",
        "type": "json",
        "z": "61091657.7ee5f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "4f14762f.eac0e8"
            ]
        ]
    },
    {
        "id": "4f14762f.eac0e8",
        "type": "change",
        "z": "61091657.7ee5f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.counts.person",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 320,
        "wires": [
            [
                "548ab73f.3c7df8"
            ]
        ]
    },
    {
        "id": "84d6208b.9b91c",
        "type": "mqtt in",
        "z": "61091657.7ee5f8",
        "name": "",
        "topic": "/merakimv/Q2JV-YMSR-7CJB/0",
        "qos": "0",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 210,
        "y": 400,
        "wires": [
            [
                "8e5205e3.8d3f68"
            ]
        ]
    },
    {
        "id": "548ab73f.3c7df8",
        "type": "ui_chart",
        "z": "61091657.7ee5f8",
        "name": "People Count Zone 1",
        "group": "1ae8bac4.895bf5",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "<font color=grey><small>Historic People Count Zone 1",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 930,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "6ff67d7f.e50f64",
        "type": "change",
        "z": "eb90c25d.78d73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "restore",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 589.5,
        "y": 53,
        "wires": [
            []
        ]
    },
    {
        "id": "c16267f4.7bfdb8",
        "type": "json",
        "z": "eb90c25d.78d73",
        "name": "",
        "x": 175.5,
        "y": 85,
        "wires": [
            [
                "6ff67d7f.e50f64"
            ]
        ]
    },
    {
        "id": "7b770fac.4b0da",
        "type": "catch",
        "z": "eb90c25d.78d73",
        "name": "",
        "scope": [
            "c16267f4.7bfdb8"
        ],
        "x": 183.5,
        "y": 117,
        "wires": [
            [
                "b7b8b41b.a349e8"
            ]
        ]
    },
    {
        "id": "b7b8b41b.a349e8",
        "type": "change",
        "z": "eb90c25d.78d73",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "[]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 354.5,
        "y": 116,
        "wires": [
            [
                "6ff67d7f.e50f64"
            ]
        ]
    },
    {
        "id": "a685b6d4.ee5098",
        "type": "inject",
        "z": "eb90c25d.78d73",
        "name": "Trigger restore",
        "repeat": "",
        "crontab": "",
        "once": true,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 618.5,
        "y": 169,
        "wires": [
            []
        ]
    },
    {
        "id": "620608e7.13ff28",
        "type": "json",
        "z": "61091657.7ee5f8",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 430,
        "y": 480,
        "wires": [
            [
                "d6c4ae24.b81fe"
            ]
        ]
    },
    {
        "id": "d6c4ae24.b81fe",
        "type": "change",
        "z": "61091657.7ee5f8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.counts.person",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "b3aefc0f.24523",
        "type": "mqtt in",
        "z": "61091657.7ee5f8",
        "name": "",
        "topic": "/merakimv/Q2JV-YMSR-7CJB/747034588190081173",
        "qos": "0",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "620608e7.13ff28",
                "ac7101f7.d00ee"
            ]
        ]
    },
    {
        "id": "e6172107.146c4",
        "type": "ui_chart",
        "z": "61091657.7ee5f8",
        "name": "People Count Zone 2",
        "group": "",
        "order": 0,
        "width": "0",
        "height": "0",
        "label": "<font color=grey><small>Historic People Count Zone 2",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 920,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8e23a9b7.a69908",
        "type": "ui_gauge",
        "z": "ea6cd974.87a928",
        "name": "Instantaneous Luminosity",
        "group": "85a386ea.e008e8",
        "order": 3,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "<center><font color=grey><small>Instantaneous Luminosity",
        "label": "Lumen",
        "format": "",
        "min": 0,
        "max": "5000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1040,
        "y": 180,
        "wires": []
    },
    {
        "id": "43d67458.81bb3c",
        "type": "debug",
        "z": "ea6cd974.87a928",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 440,
        "wires": []
    },
    {
        "id": "141961b4.c59c0e",
        "type": "debug",
        "z": "c0600a7e.657098",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 260,
        "wires": []
    },
    {
        "id": "ac7101f7.d00ee",
        "type": "debug",
        "z": "61091657.7ee5f8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 620,
        "y": 620,
        "wires": []
    },
    {
        "id": "5a442fc4.fde3",
        "type": "mqtt in",
        "z": "9ae91178.85918",
        "name": "",
        "topic": "Age",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "4105f36f.2046ac",
                "8464c6f9.25ae98"
            ]
        ]
    },
    {
        "id": "4105f36f.2046ac",
        "type": "debug",
        "z": "9ae91178.85918",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 500,
        "y": 120,
        "wires": []
    },
    {
        "id": "15bc5c1e.e55da4",
        "type": "mqtt in",
        "z": "9ae91178.85918",
        "name": "",
        "topic": "EmotionalState",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "ed8def72.7b46c",
                "b51331ba.3f469"
            ]
        ]
    },
    {
        "id": "ed8def72.7b46c",
        "type": "debug",
        "z": "9ae91178.85918",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 570,
        "y": 311,
        "wires": []
    },
    {
        "id": "8464c6f9.25ae98",
        "type": "ui_gauge",
        "z": "9ae91178.85918",
        "name": "Age",
        "group": "2f647a84.4b28b6",
        "order": 2,
        "width": "5",
        "height": "5",
        "gtype": "donut",
        "title": "<font color=grey><small>Age",
        "label": "Years",
        "format": "{{value}}",
        "min": "0",
        "max": "99",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 500,
        "y": 60,
        "wires": []
    },
    {
        "id": "b51331ba.3f469",
        "type": "ui_text",
        "z": "9ae91178.85918",
        "group": "2f647a84.4b28b6",
        "order": 1,
        "width": "5",
        "height": "3",
        "name": "Emotional State",
        "label": "<font color=grey><small>Emotional State",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-spread",
        "x": 588,
        "y": 190,
        "wires": []
    },
    {
        "id": "95bd9949.ff2f98",
        "type": "mqtt in",
        "z": "9ae91178.85918",
        "name": "",
        "topic": "Gender",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "83003147.da135"
            ]
        ]
    },
    {
        "id": "83003147.da135",
        "type": "ui_text",
        "z": "9ae91178.85918",
        "group": "2f647a84.4b28b6",
        "order": 1,
        "width": "5",
        "height": "2",
        "name": "Gender",
        "label": "<font color=grey><small>Gender",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-spread",
        "x": 580,
        "y": 480,
        "wires": []
    },
    {
        "id": "c168636.4a33fa",
        "type": "mqtt in",
        "z": "fe39d94e.aff738",
        "name": "",
        "topic": "Label0",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "9fe83222.5d9d8",
                "1d10af1e.bf94f1"
            ]
        ]
    },
    {
        "id": "9fe83222.5d9d8",
        "type": "debug",
        "z": "fe39d94e.aff738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 450,
        "y": 200,
        "wires": []
    },
    {
        "id": "1d10af1e.bf94f1",
        "type": "ui_text",
        "z": "fe39d94e.aff738",
        "group": "8fbf59aa.45bee8",
        "order": 1,
        "width": "7",
        "height": "1",
        "name": "Label 1",
        "label": "<font color=grey><small>Label 1",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-left",
        "x": 460,
        "y": 320,
        "wires": []
    },
    {
        "id": "b4f9c86c.4d2e88",
        "type": "mqtt in",
        "z": "fe39d94e.aff738",
        "name": "",
        "topic": "Label1",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 230,
        "y": 400,
        "wires": [
            [
                "894da641.bfde28",
                "762c7097.b9d41"
            ]
        ]
    },
    {
        "id": "894da641.bfde28",
        "type": "debug",
        "z": "fe39d94e.aff738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 400,
        "wires": []
    },
    {
        "id": "762c7097.b9d41",
        "type": "ui_text",
        "z": "fe39d94e.aff738",
        "group": "8fbf59aa.45bee8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Label 2",
        "label": "<font color=grey><small>Label 2",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-left",
        "x": 480,
        "y": 520,
        "wires": []
    },
    {
        "id": "fac0ac0b.474a3",
        "type": "mqtt in",
        "z": "fe39d94e.aff738",
        "name": "",
        "topic": "Label2",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 230,
        "y": 600,
        "wires": [
            [
                "2ecc3f45.127ee",
                "a8e60efa.2d096"
            ]
        ]
    },
    {
        "id": "2ecc3f45.127ee",
        "type": "debug",
        "z": "fe39d94e.aff738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 600,
        "wires": []
    },
    {
        "id": "a8e60efa.2d096",
        "type": "ui_text",
        "z": "fe39d94e.aff738",
        "group": "8fbf59aa.45bee8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Label 3",
        "label": "<font color=grey><small>Label 3",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-left",
        "x": 480,
        "y": 720,
        "wires": []
    },
    {
        "id": "6f9a41d3.f0cc6",
        "type": "mqtt in",
        "z": "fe39d94e.aff738",
        "name": "",
        "topic": "Label3",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 230,
        "y": 820,
        "wires": [
            [
                "35c38f.93a83c72",
                "fec47322.d8c8e"
            ]
        ]
    },
    {
        "id": "35c38f.93a83c72",
        "type": "debug",
        "z": "fe39d94e.aff738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 820,
        "wires": []
    },
    {
        "id": "fec47322.d8c8e",
        "type": "ui_text",
        "z": "fe39d94e.aff738",
        "group": "8fbf59aa.45bee8",
        "order": 1,
        "width": "7",
        "height": "1",
        "name": "Label 4",
        "label": "<font color=grey><small>Label 4",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-left",
        "x": 480,
        "y": 940,
        "wires": []
    },
    {
        "id": "8f9012e3.342a",
        "type": "mqtt in",
        "z": "fe39d94e.aff738",
        "name": "",
        "topic": "Label4",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 230,
        "y": 1020,
        "wires": [
            [
                "109592c4.73017d",
                "d168c29d.08b1b"
            ]
        ]
    },
    {
        "id": "109592c4.73017d",
        "type": "debug",
        "z": "fe39d94e.aff738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 470,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d168c29d.08b1b",
        "type": "ui_text",
        "z": "fe39d94e.aff738",
        "group": "8fbf59aa.45bee8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Label 5",
        "label": "<font color=grey><small>Label 5",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-left",
        "x": 480,
        "y": 1140,
        "wires": []
    },
    {
        "id": "49004b12.b1f6b4",
        "type": "mqtt in",
        "z": "fe39d94e.aff738",
        "name": "",
        "topic": "Label5",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 250,
        "y": 1220,
        "wires": [
            [
                "c32fd0b6.cafa6",
                "8794aa1b.ef5488"
            ]
        ]
    },
    {
        "id": "c32fd0b6.cafa6",
        "type": "debug",
        "z": "fe39d94e.aff738",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 490,
        "y": 1220,
        "wires": []
    },
    {
        "id": "8794aa1b.ef5488",
        "type": "ui_text",
        "z": "fe39d94e.aff738",
        "group": "8fbf59aa.45bee8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "Label 6",
        "label": "<font color=grey><small>Label 6",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-left",
        "x": 500,
        "y": 1340,
        "wires": []
    },
    {
        "id": "78b19878.9ccfb8",
        "type": "ui_template",
        "z": "ad610aca.48e198",
        "group": "4d7bb0a7.40b36",
        "name": "",
        "order": 1,
        "width": 23,
        "height": 14,
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 740,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6b2eb128.accad",
        "type": "mqtt in",
        "z": "ad610aca.48e198",
        "name": "",
        "topic": "Snap",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 590,
        "y": 600,
        "wires": [
            [
                "dfad6b98.84e8c8"
            ]
        ]
    },
    {
        "id": "dfad6b98.84e8c8",
        "type": "template",
        "z": "ad610aca.48e198",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"{{{payload}}}\"  height=1100px; width=1900px >\n    content will be rendered here...\n</iframe>",
        "x": 780,
        "y": 600,
        "wires": [
            [
                "78b19878.9ccfb8"
            ]
        ]
    },
    {
        "id": "41fbed47.814504",
        "type": "mqtt in",
        "z": "bd3844a1.c393b8",
        "name": "",
        "topic": "DetectedText0",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 286,
        "y": 128,
        "wires": [
            [
                "3cbdae46.8bac42",
                "ecdfb723.46b558"
            ]
        ]
    },
    {
        "id": "3cbdae46.8bac42",
        "type": "debug",
        "z": "bd3844a1.c393b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 507,
        "y": 120,
        "wires": []
    },
    {
        "id": "ecdfb723.46b558",
        "type": "ui_text",
        "z": "bd3844a1.c393b8",
        "group": "58564007.5d9af",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "DetectedText 1",
        "label": "<font color=grey><small>DetectedText 1",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-spread",
        "x": 537,
        "y": 240,
        "wires": []
    },
    {
        "id": "b5b2204f.6fa0c",
        "type": "mqtt in",
        "z": "bd3844a1.c393b8",
        "name": "",
        "topic": "DetectedText1",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 299,
        "y": 317,
        "wires": [
            [
                "e9908196.bea02",
                "78311248.af0a5c"
            ]
        ]
    },
    {
        "id": "e9908196.bea02",
        "type": "debug",
        "z": "bd3844a1.c393b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 509,
        "y": 317,
        "wires": []
    },
    {
        "id": "78311248.af0a5c",
        "type": "ui_text",
        "z": "bd3844a1.c393b8",
        "group": "58564007.5d9af",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "DetectedText 2",
        "label": "<font color=grey><small>DetectedText 2",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-spread",
        "x": 539,
        "y": 437,
        "wires": []
    },
    {
        "id": "2e735521.744e6a",
        "type": "mqtt in",
        "z": "bd3844a1.c393b8",
        "name": "",
        "topic": "DetectedText2",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 301,
        "y": 506,
        "wires": [
            [
                "429a1d56.b1efa4",
                "9b97ddef.61b01"
            ]
        ]
    },
    {
        "id": "429a1d56.b1efa4",
        "type": "debug",
        "z": "bd3844a1.c393b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 511,
        "y": 506,
        "wires": []
    },
    {
        "id": "9b97ddef.61b01",
        "type": "ui_text",
        "z": "bd3844a1.c393b8",
        "group": "58564007.5d9af",
        "order": 3,
        "width": "0",
        "height": "0",
        "name": "DetectedText 3",
        "label": "<font color=grey><small>DetectedText 3",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-spread",
        "x": 541,
        "y": 626,
        "wires": []
    },
    {
        "id": "9853c226.1fa1d",
        "type": "mqtt in",
        "z": "bd3844a1.c393b8",
        "name": "",
        "topic": "DetectedText3",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 313,
        "y": 677,
        "wires": [
            [
                "64b3bd59.045ad4",
                "fe24ce05.8b795"
            ]
        ]
    },
    {
        "id": "64b3bd59.045ad4",
        "type": "debug",
        "z": "bd3844a1.c393b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 523,
        "y": 677,
        "wires": []
    },
    {
        "id": "fe24ce05.8b795",
        "type": "ui_text",
        "z": "bd3844a1.c393b8",
        "group": "58564007.5d9af",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "DetectedText 4",
        "label": "<font color=grey><small>DetectedText 4",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-spread",
        "x": 553,
        "y": 797,
        "wires": []
    },
    {
        "id": "7d31e361.2bd78c",
        "type": "mqtt in",
        "z": "bd3844a1.c393b8",
        "name": "",
        "topic": "DetectedText4",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 320,
        "y": 863,
        "wires": [
            [
                "a233800d.0fcfc",
                "81fc48be.7a8ca8"
            ]
        ]
    },
    {
        "id": "a233800d.0fcfc",
        "type": "debug",
        "z": "bd3844a1.c393b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 530,
        "y": 863,
        "wires": []
    },
    {
        "id": "81fc48be.7a8ca8",
        "type": "ui_text",
        "z": "bd3844a1.c393b8",
        "group": "58564007.5d9af",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "DetectedText 5",
        "label": "<font color=grey><small>DetectedText 5",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-spread",
        "x": 560,
        "y": 983,
        "wires": []
    },
    {
        "id": "fdb8ed17.cf1c8",
        "type": "mqtt in",
        "z": "bd3844a1.c393b8",
        "name": "",
        "topic": "DetectedText5",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 330,
        "y": 1049,
        "wires": [
            [
                "3d05bee2.c81ac2",
                "e91781.a75f288"
            ]
        ]
    },
    {
        "id": "3d05bee2.c81ac2",
        "type": "debug",
        "z": "bd3844a1.c393b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 540,
        "y": 1049,
        "wires": []
    },
    {
        "id": "e91781.a75f288",
        "type": "ui_text",
        "z": "bd3844a1.c393b8",
        "group": "58564007.5d9af",
        "order": 6,
        "width": "0",
        "height": "0",
        "name": "DetectedText 6",
        "label": "<font color=grey><small>DetectedText 6",
        "format": "<font color=grey><small>{{msg.payload}}",
        "layout": "row-spread",
        "x": 570,
        "y": 1169,
        "wires": []
    },
    {
        "id": "cc1701af.4167b",
        "type": "ui_template",
        "z": "ea6cd974.87a928",
        "group": "85a386ea.e008e8",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!doctype html>\n\n<html>\n\n<head>\n    <style>\n        \n        #LAB_G2_cards {\n            font-size: 2px;\n        \n        }\n    </style>\n</head>\n\n<body></body>\n\n</html>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 717,
        "y": 404,
        "wires": [
            []
        ]
    },
    {
        "id": "436facfc.d6fbe4",
        "type": "aedes broker",
        "z": "c0600a7e.657098",
        "name": "MQTT Aedes",
        "mqtt_port": 1883,
        "mqtt_ws_port": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "141961b4.c59c0e"
            ]
        ]
    },
    {
        "id": "70ce170e.8dabf8",
        "type": "template",
        "z": "abc39881.a80e78",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"{{{payload}}}\"  height=1080px; width=1920px >\n    content will be rendered here...\n</iframe>",
        "x": 640,
        "y": 320,
        "wires": [
            [
                "7f393fce.c5c89"
            ]
        ]
    },
    {
        "id": "7f393fce.c5c89",
        "type": "ui_template",
        "z": "abc39881.a80e78",
        "group": "679df91d.8517c8",
        "name": "",
        "order": 1,
        "width": 23,
        "height": 14,
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 640,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "cc246e8c.6458a",
        "type": "mqtt in",
        "z": "abc39881.a80e78",
        "name": "",
        "topic": "wordcloudurl",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 430,
        "y": 320,
        "wires": [
            [
                "70ce170e.8dabf8"
            ]
        ]
    },
    {
        "id": "13981cee.9fbbd3",
        "type": "mqtt in",
        "z": "817996c0.d93538",
        "name": "",
        "topic": "averageage",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "5a177d42.472614"
            ]
        ]
    },
    {
        "id": "5a177d42.472614",
        "type": "ui_text",
        "z": "817996c0.d93538",
        "group": "66cbe78b.a80218",
        "order": 0,
        "width": "23",
        "height": "4",
        "name": "Average Age",
        "label": "Average Age",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "8ec411c7.491c",
        "type": "mqtt in",
        "z": "817996c0.d93538",
        "name": "",
        "topic": "facecount",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 320,
        "y": 240,
        "wires": [
            [
                "6a07e58b.61fd4c"
            ]
        ]
    },
    {
        "id": "6a07e58b.61fd4c",
        "type": "ui_text",
        "z": "817996c0.d93538",
        "group": "66cbe78b.a80218",
        "order": 0,
        "width": "23",
        "height": "4",
        "name": "Number of People",
        "label": "Number of People",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 570,
        "y": 240,
        "wires": []
    },
    {
        "id": "4f94df27.8a47e",
        "type": "ui_template",
        "z": "7d5c2f07.de951",
        "group": "8082143d.bef398",
        "name": "",
        "order": 1,
        "width": 23,
        "height": 14,
        "format": "<div ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 700,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "2c4f0cee.0200e4",
        "type": "mqtt in",
        "z": "7d5c2f07.de951",
        "name": "",
        "topic": "About",
        "qos": "2",
        "datatype": "auto",
        "broker": "b2fd4c0c.8b0d2",
        "x": 550,
        "y": 460,
        "wires": [
            [
                "d620416c.21264"
            ]
        ]
    },
    {
        "id": "d620416c.21264",
        "type": "template",
        "z": "7d5c2f07.de951",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"{{{payload}}}\"  height=1100px; width=1900px >\n    content will be rendered here...\n</iframe>",
        "x": 740,
        "y": 460,
        "wires": [
            [
                "4f94df27.8a47e"
            ]
        ]
    }
]